* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    border: 0;
}

body {
    background-color: rgb(233, 190, 190);
}

#LogoSCMG {
    margin-top: 10px;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

select {
    font-size: 26px;
    background-color: rgb(236, 216, 216);
    border-radius: 10px;
    width: 400px;
}

.bloco {
    width: 40%;
    display: inline;
    float: left;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
}

.bloco2 {
    width: 40%;
    display: inline;
    float: right;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
}

.layer {
    height: 150px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 75px;
}

span{
    font-size: 20px;
    font-weight: 700;
}

.box {
    background-color: rgb(238, 202, 202, 0.95);
    border-radius: 10px;
}

.header {
    height: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.porcentagem1 {
    height: 10px;
    background-color: green;
    width: 10%;
}

.porcentagem2 {
    height: 10px;
    background-color: green;
    width: 30%;
}

.porcentagem {
    border-radius: 10px;
    border: 1px solid gray;
}

b{
    float: right;
}