*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(233, 190, 190);
}

/* CABEÇALHO */
#LogoSCMG{
    position: fixed;
    width: 15rem;
    height: auto;
    left: 40%;
    top: 2%;
    background: transparent;
}

#LogoFB{
    position: fixed;
    height: 2rem;
    left: 75%;
    top: 2%;
}
#LogoTwitter{
    position: fixed;
    width: auto;
    height: 2rem;
    left: 80%;
    top: 2%;
}
#LogoInsta{
    position: fixed;
    width: auto;
    height: 2rem;
    left: 85%;
    top: 2%;
}
/* BODY */
#group{
    position: absolute;
    width: auto;
    height: 25Rem;
    left:0%;
    top: 20%;
    background: transparent;
}

#titulo{
    position: absolute;
    width: auto;
    height: 50px;
    left: 65%;
    top: 10%;
    font-size: 40px;
    line-height: 55px;

    color: #000000;
}

#corpo{
    position: absolute;
    width: auto;
    height: 20%;
    left: 40%;
    top: 20%;
    font-size: 1.25em;
    text-align: center;
    color: #000000;
}

#cidades, #vacinas{
    position: absolute;
    background: #9B000F;
    border-radius: 25rem;
}

#cidades{
    width: 11em;
    height: 3em;
    left: 55%;
    top: 60%;
}
#vacinas{
    width: 11em;
    height: 3em;
    left: 75%;
    top: 60%;
}

#cidade, #vacina{
    background: transparent;
    position: absolute;
    width: 1em;
    height: auto;
    left: 50%;
    top: 25%;
    font-size: 1.25em;

    color: #FFFFFF;
}

#logoCidades, #LogoVacina{
    background: transparent;
    position: absolute;
    width: 2.5em;
    height: auto;
    left: 15%;
    top: 5%;

}

/* RODAPE */

#rodape{
    position: fixed;
    width: 100%;
    height: 10vh;
	bottom: 0;
    background: #9B000F;
}

#logoUnivas{
	top: 1em;
    width: 6em;
    height: auto;
    position: absolute;
    left: 1em;
}

#dirAuto{
    position: absolute;
    margin-left: 60vw;
    margin-bottom: 10vh;
    font-size: 1em;
    color: #FFFFFF;
}



