* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(233, 190, 190);
}

@media screen and (min-width: 1024px) {

    /* CABECALHO */

    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        width: 95%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #socialIcons {
        margin-top: 10px;
        float: right;
    }
    #logoFB, #logoTwitter, #logoInsta{
        margin: 0 10px;
    } 

/* BODY */

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.tab{
    cursor: pointer;
}

.tab.active{
    text-decoration: underline;
}

.tab:hover{
    background-color: #AAA;
}

.tab-content{
    display: flex;
    float: right;
    text-align: center;
}

#retangle{
    display: flex;
    float: right;
    width: 719px;
    height: 760px;
    left: 675px;
    top: 141px;
    background: rgba(178, 200, 228, 0.33);
    border-radius: 50px;
}

#vacina {
    position: absolute;
    background-color: transparent;
    width: 420px;
    height: 650px;
    top: 210px;
    left: 80px;
}

    /* RODAPE */
#rodape {
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;
        background: #9b000f;
    }

#logoUnivas {
    display: inline;
    float: left;
    margin: 12.5px 20px ;

}

#dirAuto {
    display: inline;
    float: right;
    margin: 10px 20px;    
    font-size: 20px;
    color: #ffffff;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 767) {
    
}